*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.Container{
    background-color: aquamarine;
    border: 2px dashed red;
    height: 20rem;
    width: 20rem;
}