* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
}

#container {
    margin: auto;
    padding: 1rem;
}

header{
    background-image: url("img/paysageBanniere.jpg") ;
    background-size: cover;
    color: white;
    width: 100%;
    height: 15%;
    font-size: 5rem;
    text-shadow: black 2px 2px 2px;
    text-transform: uppercase;
    padding: 2.5% 0 0 15%;
}

#menu{
    background-color: #7eace7;
    font-weight: bold;
    font-size: 1.9rem;
}

#menuImage{
    display: none;
    text-align: center;
    padding-top: 1rem;
    line-height: 0.5rem;
    padding-bottom: 1rem;
    margin-left: 0.8rem;
    color: white;
}

#menu:hover > #menuImage{
    transform: rotate(90deg) ;
    transition-property: transform;
    transition-duration: 0.5s;
}


#menu > a{
    display: inline-block;
    width: auto;
    padding: 1rem;
    margin-right: 1rem;
    text-decoration-line: none;
    color: whitesmoke;
}

/* */
@media screen and (max-width: 1050px) {

    header {
        font-size: 3rem;
        padding: 1.5%;
        text-shadow: white 2px 2px 2px;
        color: black;
    }

    #container {
        margin: auto;
        padding: 1rem;
    }
}

/* */
@media screen and (max-width: 600px) {

    #container {
        margin: 0;
        padding: 0.5rem;
    }

    header {
        font-size: 2rem;
        padding: 1%;
    }

    #menu{
        font-size: 0.9rem;
    }
}
/* */
@media screen and (max-width: 400px) {

    header{
        font-size: 2rem;
        padding: 0;
        height: 5%;
        position:fixed;
        top: 0;
        left: 0;
    }

    #menu{
        width: 7%;
        position: fixed;
        top: 5%;
        left: 0;
    }

    #menuImage{
        display: inline-block;
    }

    #menu > a{
        width: 80%;
        display: none;
        padding: 0.5rem;
        margin: 1rem auto;
    }

    #menu:hover{
        width: 50%;
    }

    #menu:hover > a{
        display: block;
    }

}